<form action="read_post">
    <table class="read_post">
        <tr>
            <td>제목</td>
            <td><%= data.rows[0][14] %></td>
        </tr>
        <tr>
            <td>출처</td>
            <td><%= data.rows[0][1] %></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><%= data.rows[0][16] %></td>
        </tr>
        <tr>
            <td>태그</td>
            <td>
                <% for(let i=4; i<14; i++){ 
                    if(data.rows[0][i] != undefined){ %>
                        <%= data.rows[0][i] %>
                        <% }} %>
            </td>
        </tr>
    </table>
    <button type="button" onclick="location.href='/update_post/<%= data.rows[0][15] %>?page=<%= page %>'">수정</button>
    <button type="button" onclick="location.href='/delete/<%= data.rows[0][15] %>'">삭제</button>
    <button type="button" onclick="location.href='/my_storage?page=<%= page %>'">목록</button>
</form>